<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/register.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
    <div class="main-container">
        <h1>Create an Account</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form method="POST" action="/register" onsubmit="return validatePasswords();">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter a username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter a password" required>

            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Repeat your password"
                required>

            <button type="submit">Register</button>
        </form>

        <div class="message">
            Already have an account? <a href="/login">Login here</a>.
        </div>
    </div>

    <div class="footer">
        <p>Wireguard Panel by <a href="https://github.com/Azumi67" target="_blank">Azumi</a></p>
    </div>

    <form method="POST" action="/set-language" id="language-form">
        <select name="language" class="language-selector" onchange="document.getElementById('language-form').submit()">
            <option value="en" {% if session['language']=='en' %}selected{% endif %}>English</option>
            <option value="fa" {% if session['language']=='fa' %}selected{% endif %}>فارسی</option>
        </select>
    </form>

    <script>
        function validatePasswords() {
            const pw = document.getElementById('password').value;
            const cpw = document.getElementById('confirm_password').value;
            if (pw !== cpw) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        }
    </script>
</body>

</html>
