python-dotenv
python-telegram-bot
aiohttp
matplotlib
qrcode
python-telegram-bot[job-queue]
pyyaml
flask-session
Flask
SQLAlchemy
Flask-Limiter
Flask-Bcrypt
Flask-Caching
jsonschema
psutil
pytz
requests
pynacl
apscheduler
redis
werkzeug
jinja2
fasteners
gunicorn
pexpect
cryptography
Pillow
arabic-reshaper
python-bidi
